# игнорируем файлы в каталоге tmp

tmp/

# игнорируем файлы, заканчиваюшщиеся суфиксами _old


*_old

# игнорируем файлы, заканчиваюшщиеся суфиксами _backup

*_backup

# будут игнорироваться все файлы и каталоги Thumbs.db

Thumbs.db

# будут игнорироваться все файлы и каталоги .DS_Store
.DS_Store.*

.DS_Store

